
.log {
    background-image: url("#{resource['images/fond1.jpg']}");
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.accueil {
    background-image: url("#{resource['images/fond2.jpg']}");
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.op {
	background-image: url("#{resource['images/fond3.jpg']}");
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
}